

<h2> Ajout destination finale </h2>

    <div>
      <label> Nom : </label> <br>
      <input ng-model="lastPlacename" type="text" name="name" value={{lastPlace.name}}>
    </div>
    <div>
      <label> Latitude : </label> <br>
      <input ng-model="latitude" type="text" name="latitude" value={{lastPlace.latitude}}>
    </div>
    <div>
      <label> Longitude : </label> <br>
      <input ng-model="longitude" type="text" name="longitude" value={{lastPlace.longitude}}>
    </div>

    <button type="submit" ng-click="createLastPlace()"> Valider </button>