<div class="container-fluid">
    <h1> Interface d'administration </h1>

    <h2> Votre liste de jeux ({{games.length}} jeux): </h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <td> NOM </td>
          <td> </td>
          <td> </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game in games">
          <td> {{game.name}} </td>
          <td id="{{game.id}}"> <a href="#!EditGame/{{game.id}}" ng-click="edit_game(game.id)"> modifier </a> </td>
          <td id="{{game.id}}"> <a ng-click="delete_game(game)"> supprimer </a> </td>
        </tr>
      </tbody>
    </table>

    <div>
      <label> Ajouter un jeu </label>
        <input ng-model="name" type="text" name="name" value={{name}}>
        <button type="submit" ng-click="createGame()"> Valider </button>
    </div>
</div>