<div class="container"><!-- container-fluide-->
<h1 class="center"> Les lieux associés à ce jeu </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <td> NOM </td>
        <td> LATITUDE  </td>
        <td> LONGITUDE </td>
        <td> INDICE </td>
        <td> </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="place in places" class="places">
        <td> {{place.name}} </td>
        <td> {{place.latitude}} </td>
        <td> {{place.longitude}} </td>
        <td> {{place.myclue}} </td>
        <td id="{{game.id}}"> <a ng-click="delete_place(place)"> supprimer </a> </td>
      </tr>
    </tbody>
  </table>

<h1 class="center destinationFinal"> Destination finale </h1>

<table class="table table-striped">
<thead>
      <tr>
        <td> NOM </td>
        <td> LATITUDE  </td>
        <td> LONGITUDE </td>
        <td> INDICES </td>
        <td> </td>
      </tr>
    </thead>
    <tbody>
  <tr>
    <td> {{lastPlace.name}} </td>
    <td> {{lastPlace.latitude}} </td>
    <td> {{lastPlace.longitude}} </td>
    <td class="cluesTd"> <button type="button" class="btn btn-info btnAjouterClues" data-toggle="modal" data-target="#myModal">Ajouter indices</button>
 </td>
  </tr>
  </tbody>
</table>
<div class="row">
<div class="map_add col-md-4 col-xs-12">

<div id="mapid"></div>
</div>


<div class="add_place col-md-4 col-xs-12">
      <h2> Ajouter un lieu </h2>
  <div>
      <label> Nom : </label> <br>
      <input ng-model="name" type="text" name="name" value={{name}} required>
  </div>
  <div>
      <label> Longitude : </label> <br>
      <input ng-model="longitude" type="text" name="longitude" value={{longitude}} required>
  </div>
  <div>
      <label> Latitude : </label> <br>
      <input ng-model="latitude" type="text" name="latitude" value={{latitude}} required>
  </div>
  <div>
      <label> Indice du lieu : </label> <br>
      <input ng-model="myclue" type="text" name="myclue" value={{myclue}} required>
  </div>

      <button type="submit" ng-click="createPlace(place)"> Valider </button>
</div>

    


<div class="add_final_place col-md-4 col-xs-12">

<h2> Ajout destination finale </h2>

    <div>
      <label> Nom : </label> <br>
      <input ng-model="lastPlacename" type="text" name="name" >
    </div>
    <div>
      <label> Latitude : </label> <br>
      <input ng-model="latitude" type="text" name="latitude" value={{lastPlace.latitude}}>
    </div>
    <div>
      <label> Longitude : </label> <br>
      <input ng-model="longitude" type="text" name="longitude" value={{lastPlace.longitude}}>
    </div>

    <button type="submit" ng-click="createLastPlace()"> Valider </button></div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Indices destination finale</h4>
      </div>
      <div class="modal-body">

        <label> Indice 1 : </label> <br>
      	<input ng-model="indice1" type="text" required>
      	<br>
      	 <label> Indice 2 : </label> <br>
      	<input ng-model="indice2" type="text" required>
      	<br>
      	 <label> Indice 3 : </label> <br>
      	<input ng-model="indice3" type="text" required>
      	<br>
      	 <label> Indice 4 : </label> <br>
      	<input ng-model="indice4" type="text" required>
      	<br>
      	 <label> Indice 5 : </label> <br>
      	<input ng-model="indice5" type="text" required>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="saveClues()" class="btn btn-default" data-dismiss="modal">Ajouter</button>
      </div>
    </div>

  </div>
</div>
</div>
</div>
