<h1> Liste des jeux : </h1>

<h2> Veuillez choisir un jeu : </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <td> NOM </td>
      <td> </td>
    </tr>
  <thead>
  <tbody>
    <tr ng-repeat="game in games">
      <td> {{game.name}} </td>
      <td> <a href="#!game/{{game.id}}" ng-click="play_game(game)"> jouer </a> </td>
    </tr>
  </tbody>
</table>
