
<h1 class="center"> LET'S PLAY </h1>

<div id="mapgame"></div>

<div id="clue">

  <h3 class="center"> Voici une liste d'indices correspondant à 5 lieux, cherchez les en placant des points sur la carte. </h3>
  <h3 class="center"> En cas de découverte, vous obtiendrez un indice concernant le lieu final </h3>
<div class="center">

<br><br>

<div class="tab_clue">
  <table class="table table-striped" style="width:250px">
    <thead>
      <tr>
        <td> <b>INDICES DES 5 LIEUX</b> </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="place in places" >
        <td> {{place.myclue}} </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tab_clue">
  <table class="table table-striped" style="width:250px;">
    <thead>
      <tr>
        <td> <b>INDICES DU LIEU FINAL</b> </td>
      </tr>
    </thead>
    <tbody id="indice">

    </tbody>
  </table>
</div>

</div>

