<div class="container">
<div class="BeginGame">
  <h1> BIENVENUE SUR L'APPLICATION "FIND YOUR WAY"</h1>
   <div class="jumbotron ">
   <p class="lead">
   Principe du jeu :
   Placez une série de points sur la carte. Chaque point correpond à une ville qui vous est indiqué par un indice.
   Pour chaque bonne reponse donné, vous obtiendrez un indice vous permettant de trouver le lieu final .
 </p>
 </div>
  <form>
     <div class="row">  
     <div class="col-md-12 col-xs-12">
      <h3> Indiquez votre pseudo : </h2>
     </div>
     <div class="col-md-12 col-xs-12">
    <input type="text" ng-model="pseudo">
     </div>
    </div>
  </form>
  <button type="submit" ng-click="gameList()"> Continuer </button>

</div>
</div>
<!--
<form>
<div class="col-md-12">


<div class="row">
  <div class="col-md-3">
    <label> Name : </label>
  </div>
  <div class="col-md-8">
    <input ng-model="name" type="text" name="name" class="form-control">
  </div>
</div>
<div>
  <div class="col-md-3">
    <label class="row"> Longitude : </label>
  </div>
  <div class="col-md-8">
    <input ng-model="longitude" type="text" name="longitude" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label> Latitude : </label>
  </div>
  <div class="col-md-8">
    <input ng-model="latitude" type="text" name="latitude" class="form-control">
  </div>
</div>
  <button type="submit" ng-click="createPlace()"> Valider </button>

<<<<<<< HEAD
</div>
</form>
=======
</form> -->
