
.BeginGame{
  width: 1000px;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

.BeginGame input{
    margin:15px;
}


#mapid {
  width:100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  float:left;
  padding: 20px;
}


#mapgame{
  width:100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 20px;

}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.add_place{
display: inline-block;
text-align: center;
width:30%;
margin-left: auto;
margin-right: auto;
float: left;
}

.add_final_place{
  display: inline-block;
  text-align: center;
  width:30%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.map_add{
text-align: center;
/*width:1000px;*/
margin-left: auto;
margin-right: auto;
}

.tab_clue{
  display: inline-table;
  width: 20%;
}
